
<link rel="stylesheet" href="~/css/index.css" />

<section id="index_container">
    <section>
        <a asp-action="FiltroReservas" asp-controller="Home">Reservar</a>
        <a asp-action="CheckIn" asp-controller="Home">Check In</a>
        <a asp-action="CheckOut" asp-controller="Home">Check Out</a>
    </section>
</section>





